#body {
    background-image: url("Stars.png");
    color: white;
    height: 400px;
    width: 100%;
    margin-top: -180px;
 
 }
 body {
    display: block;
    margin: 0px;
 }
 .size{
    width:500px;
    height:355px;
 }
 #h1{
    font-size: 200px;
    margin-bottom: -100px;
    position: relative; 
   top: 70px;
  
 }
